/* Text */
h2{
    
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #525252;
   }

h3{
    
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #525252;
   }


/* Table */
tr:nth-child(even) {
    background-color: #cecece;
}

th{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #525252;
}


/* Buttons */
#addEmployeeButton{
    margin: 5px;
}
#deletebutton{
    margin: 10px;
}

